@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#uxmain {
    background-color: #31363F;
    color: #FFFBF5;
    margin: 0;
    padding: 3% 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    flex-direction: column;
}

h1 {
    font-size: 40pt;
}

#uxIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 65%;

    background-color: rgb(117, 164, 99);
}

#uxAftereffect {
    height: 400px;
    width: 65%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3%;

    background-color: rgb(5, 77, 17);
}

#uxIndhold {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uxHøjre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 65%;
}

.uxHøjre h4, .uxHøjre p {
    max-width: 90%;
}

.uxHøjre img {
    max-height: 500px;
    max-width: 500px;
} 

.uxVenstre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 65%;
}

.uxVenstre h4, .uxVenstre p {
    max-width: 90%;
    margin-left: 10%;
    text-align: right;
}


.uxVenstre img {
    max-height: 500px;
    max-width: 500px;
} 
